<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Feedback</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
   <servlet>
      <description></description>
      <display-name>RegisterInsert</display-name>
      <servlet-name>RegisterInsert</servlet-name>
      <servlet-class>RegisterInsert</servlet-class>
  </servlet>
  <servlet-mapping>
       <servlet-name>RegisterInsert</servlet-name>
       <url-pattern>/RegisterInsert</url-pattern>
  </servlet-mapping>
   <servlet>
      <description></description>
      <display-name>RegisterDisplay</display-name>
      <servlet-name>RegisterDisplay</servlet-name>
      <servlet-class>RegisterDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
       <servlet-name>RegisterDisplay</servlet-name>
       <url-pattern>/RegisterDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
      <description></description>
      <display-name>LoginInsert</display-name>
      <servlet-name>LoginInsert</servlet-name>
      <servlet-class>LoginInsert</servlet-class>
  </servlet>
  
</web-app>