@charset "ISO-8859-1";
body{
	background-color: #b3ff66;
}
header{
        background-color:#ffb6c1;
        color: #008080;
	width:80%;
	border-style:solid;
        margin-left:auto;
	margin-right:auto;
	border-width:50px;
        boredr-color:#33DBFF;
	padding:10px;
        font-size:19px;
}
section{
	color:#cc0066;
	font-size:22px;
}